<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <body>
        {% block body %}
            <h1>bonjour</h1>
            <a href="{{ path('contact_page') }}">Contactez-nous !</a>
            <img src="{{ asset('assets/img/emilie.jpg') }}" alt="Photo d emilie">
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
